@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* HEADER */

.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user-button {
  font-size: 16px;
  line-height: 20px;
}

/* INTRO */

.introduction {
  color: #ffffff;
  background-color: #808080;
  background-image: url("../images/intro-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.introduction-block {
  text-align: center;
  background-color: #ffffff;
}

.introduction-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.introduction-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* ADVANTAGES */

.advantages-item {
  text-align: center;
}

.advantages-img-item {
  color: #ffffff;
  background-color: #82B3D3;
}

.basic-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-center-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.buy-center-item {
  background-color: #ffffff;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.img-item-title{
  color: #ffffff;
}

/* HOTEL */

.hotel-search {
  background-color: #ffffff;
}

.hotel-search-ask {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* SUBSCRIBE */

.subscribe {
  color: #ffffff;
  background-color: #808080;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-button {
  background-color: #82B3D3;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  background-color: #68A2CA;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

/* FOOTER */

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-address-phone:hover {
  color: #756157;
}

.footer-address-phone:focus {
  color: #756157;
}

.footer-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
